<form id="form1" class="h-100">

  <div class="input-group-prepend Financial_Infos">
    <span class="input-group-text" id="basic-addon1">Monthly salary</span>
    <input type="text" class="form-control monthly-income-form formInput" placeholder="...">
    <div class="input-group-btn">
      <button id="fu" class="btn btn-default" style="display: none">
        <i class="glyphicon glyphicon-search">FIX ME</i>
      </button>
      <button id="editBtn1" class="btn btn-default">
        <i class="glyphicon glyphicon-search">Edit</i>
      </button>
    </div>
  </div>
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Housing</span>
    <input type="text" class="form-control housing-form formInput" placeholder="...">
    <div class="input-group-btn">
      <button id="editBtn2" class="btn btn-default">
        <i class="glyphicon glyphicon-search">Edit</i>
      </button>
    </div>
  </div>

  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Utilities</span>
    <input type="text" class="form-control utilities-form formInput" placeholder="...">
    <div class="input-group-btn">
      <button id="editBtn3" class="btn btn-default">
        <i class="glyphicon glyphicon-search">Edit</i>
      </button>
    </div>
  </div>

  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Food</span>
    <input type="text" class="form-control food-form formInput" placeholder="...">{{food}}
    <div class="input-group-btn">
      <button id="editBtn4" class="btn btn-default">
        <i class="glyphicon glyphicon-search">Edit</i>
      </button>
    </div>
  </div>

  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Insurance</span>
    <input type="text" class="form-control insurance-form formInput" placeholder="...">
    <div class="input-group-btn">
      <button id="editBtn5" class="btn btn-default">
        <i class="glyphicon glyphicon-search">Edit</i>
      </button>
    </div>
  </div>

  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Debts</span>
    <input type="text" class="form-control debts-form formInput" placeholder="...">
    <div class="input-group-btn">
      <button id="editBtn6" class="btn btn-default">
        <i class="glyphicon glyphicon-search">Edit</i>
      </button>
    </div>
  </div>

  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Monthly expenses</span>
    <input type="text" class="form-control monthly-expenses-form formInput" placeholder="...">
  </div>

  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Savings</span>

    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Total balance</span>
      <input type="text" class="form-control balance-form formInput" placeholder="...">ß
    </div>

</form>