<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">The Finance Hub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">About <span class="sr-only">(current)</span></a>
            </li>

        </ul>
        <div class="float-right upb">
            <button id="btn-l" class=" btn btn-primary nav-item mx-3">Login</button>
            <a id='btn-s' class="nav-item" href=" #">Sign Up</a>
        </div>

    </div>
</nav>