<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styleforhub.css">
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
    <body>
        <div class="topnav">
            <a class="active" href="#Home">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact<a>
            <a href="#about">About</a>

            <div class="#signin">Sign Up</div>
        </div>

        <div style="padding-left:16px">
          <h2 style="color:white"> The Finance Hub</h2>
          
         
          <div class="container">
              <p>About..</p>
              <!--<h2>Basic Table</h2>-->
              <!--<p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p> -->           
              <table class="table table-bordered">
                <thead>
                  <tr>
                     <th>How It Works<div class="form-group" style="text-align:center center">
                          <label for="usr"></label>
                          <input type="text" class="form-control" id="usr">
                        </div> </th>

          </div>
          
          <!--<div class="row">INCOME</div>
                <form>
                    <input type="number" name="quantity">
                </form>
                      <div class="row">EXPENSES</div>
                      <form>
                          <input class="column" type="number" name="quantity">
                      </form>
                              <div class="row">SAVINGS</div>
                         <form>
                            <input class="column" type="number" name="quantity">
                         </form>-->

                         <div class="container">
                                <!--<h2>Basic Table</h2>-->
                                <!--<p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p> -->           
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th>Income<div class="form-group">
                                            <label for="usr"></label>
                                            <input type="text" class="form-control" id="usr">
                                          </div> </th>
                                      <th>Expenses<div class="form-group">
                                            <label for="usr"></label>
                                            <input type="text" class="form-control" id="usr">
                                          </div> </th>
                                      <th>Savings<div class="form-group">
                                            <label for="usr"></label>
                                            <input type="text" class="form-control" id="usr">
                                          </div></th>
                                    </tr>
                                  </thead>
                             
                      
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                
               
              
    <div class="container">
  <table class="table table-bordered">
      <p>Potential Investments</p>
            <thead>
              <tr>
                <th>News<div class="form-group">
                      <label for="usr"></label>
                      <input type="text" class="form-control" id="usr">
                    </div> </th>
                <th>Search stocks<div class="form-group">
                      <label for="usr"></label>
                      <input type="text" class="form-control" id="usr">
                    </div> </th>
             
          </div>

          
        


          </div>
    </body>
</html>