{{!-- <div class="topnav">
    <a class="active" href="#Home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>

    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button>
    <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Login</button>

</div> --}}
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close"
        title="Close Modal">&times;</span>
    <form class="form-signin">
        <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control m-2" placeholder="Email address" required=""
            autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control m-2" placeholder="Password" required="">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <button onclick="document.getElementById('id01').style.display='none'"
            class="btn btn-lg btn-secondary btn-block cancelbtn">Cancel</button>
        <p class="mt-5 mb-3 text-muted">© 2017-2019</p>
    </form>
</div>
<div id="id02" class="modal">
    <span onclick="document.getElementById('id02').style.display='none'" class="close"
        title="Close Modal">&times;</span>
    <form class="form-signin">
        <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign Up</h1>
        <label for="user-name" class="sr-only">User Name</label>
        <input type="text" id="UserName" class="form-control m-2" placeholder="User Name" required="">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control m-2" placeholder="Email address" required=""
            autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control m-2" placeholder="Password" required="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="re-entry-inputPassword" class="form-control m-2" placeholder="Re-entry Password"
            required="">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up !!!</button>
        <button onclick="document.getElementById('id02').style.display='none'"
            class="btn btn-lg btn-secondary btn-block cancelbtn">Cancel</button>
        <p class="mt-5 mb-3 text-muted">© 2017-2019</p>
    </form>
</div>


<div style="padding-left:16px">
    <h2 style="color:white"> The Finance Hub</h2>


    <div class="container">
        <p>About..</p>
        <!--<h2>Basic Table</h2>-->
        <!--<p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p> -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>How It Works<div class="form-group" style="text-align:center center">
                            <label for="usr"></label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                    </th>

    </div>

    <!--<div class="row">INCOME</div>
                <form>
                    <input type="number" name="quantity">
                </form>
                      <div class="row">EXPENSES</div>
                      <form>
                          <input class="column" type="number" name="quantity">
                      </form>
                              <div class="row">SAVINGS</div>
                         <form>
                            <input class="column" type="number" name="quantity">
                         </form>-->

    <div class="container">
        <!--<h2>Basic Table</h2>-->
        <!--<p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p> -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Income<div class="form-group">
                            <label for="usr"></label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                    </th>
                    <th>Expenses<div class="form-group">
                            <label for="usr"></label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                    </th>
                    <th>Savings<div class="form-group">
                            <label for="usr"></label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                    </th>
                </tr>
            </thead>


            </tr>
            </tbody>
        </table>
    </div>



    <div class="container">
        <table class="table table-bordered">
            <p>Potential Investments</p>
            <thead>
                <tr>
                    <th>News<div class="form-group">
                            <label for="usr"></label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                    </th>
                    <th>Search stocks<div class="form-group">
                            <label for="usr"></label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                    </th>

    </div>





</div>