<div class="topnav">
    <a class="active" href="#Home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact<a>
            <a href="#about">About</a>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button>
<button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Login</button>

</div>
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label for="psw-confirm"><b>Confirm Password</b></label>
      <input type="password" placeholder="Confirm Password" name="psw-confirm" required>
      
      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>
<div id="id02" class="modal">
  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label for="psw-confirm"><b>Confirm Password</b></label>
      <input type="password" placeholder="Confirm Password" name="psw-confirm" required>
      
      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>
<div style="padding-left:16px">
    <h2 style="color:white"> The Finance Hub</h2>


    <div class="container">
        <p>About..</p>
        <!--<h2>Basic Table</h2>-->
        <!--<p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p> -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>How It Works<div class="form-group" style="text-align:center center">
                            <label for="usr"></label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                    </th>

    </div>

    <!--<div class="row">INCOME</div>
                <form>
                    <input type="number" name="quantity">
                </form>
                      <div class="row">EXPENSES</div>
                      <form>
                          <input class="column" type="number" name="quantity">
                      </form>
                              <div class="row">SAVINGS</div>
                         <form>
                            <input class="column" type="number" name="quantity">
                         </form>-->

    <div class="container">
        <!--<h2>Basic Table</h2>-->
        <!--<p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p> -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Income<div class="form-group">
                            <label for="usr"></label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                    </th>
                    <th>Expenses<div class="form-group">
                            <label for="usr"></label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                    </th>
                    <th>Savings<div class="form-group">
                            <label for="usr"></label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                    </th>
                </tr>
            </thead>


            </tr>
            </tbody>
        </table>
    </div>



    <div class="container">
        <table class="table table-bordered">
            <p>Potential Investments</p>
            <thead>
                <tr>
                    <th>News<div class="form-group">
                            <label for="usr"></label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                    </th>
                    <th>Search stocks<div class="form-group">
                            <label for="usr"></label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                    </th>

    </div>





</div>