 <div class="limiter">
                <div class="container-login100">
                    <div class="wrap-login100">
                        <form class="login100-form validate-form">
                            <span class="login100-form-title p-b-34">
                            
                            </span>
                            
        <img src="/Users/Fatoumatta/Desktop/SignInPage/images/chart-budget.jpg" alt="Trulli" width="1000" height="1000">
        <h1>The Finance hub</h1>
        <div id="form-box">
        <form>
        
          
          <div>
              <span>Monthly Salary</span> <input type="text" Monthly Salary="Amount remaining after Expenses" placeholder="total monthly income?">
          </div>
  
          <div>
            <span>Balance</span> <input type="text" Balance="Amount remaining after Expenses" placeholder="What did you spend on?">
          </div>
         
          <div>
              <span>Housing</span> <input type="text" Housing="Amount remaining after Expenses" placeholder="How much did you pay for rent?">
          </div>
  
          <div>
                  <span>Utilities:</span> <input type="number" name="amount" placeholder="How much?">
          </div>
  
          <div>
                  <span>Food:</span> <input type="number" name="amount" placeholder="How much?">
          </div>
  
          <div>
                  <span>Insurance:</span> <input type="number" name="amount" placeholder="How much?">
          </div>
  
          <div>
                  <span>Debt:</span> <input type="number" name="amount" placeholder="How much?">
          </div>
          <div>
                      <span>Target Monthly Savings:</span> <input type="number" name="amount" placeholder="How much?">
          </div>
  
          <div>
                  <span>Invest:</span> <input type="number" name="amount" placeholder="How much?">
          </div>
     
        </form>
        </div>