body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/assets/img/banner4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
h3 {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
}

.signin {
  float: right;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  float: left;
  width: 33.33%;
  padding: 50px;
  height: 300px;
}

.left,
.right {
  width: 50%;
  background-color: #aaa;
}

.middle {
  width: 50%;
  background-color: #ccc;
}

/*.column2 {

    text-align: center;
    height: 200px;
    color: white;
}*/
.table-bordered {
  color: #f2f2f2;
}

/* input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: gray;
  outline: none;
} */

/* button {
  background-color: rgb(24, 223, 90);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
} */

button:hover {
  opacity: 1;
}

.container {
  padding: 16px;
}

.modal {
  background-image: url(/Users/Fatoumatta/Desktop/SignInPage/images/signOnpage.jpeg);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: gray;
  padding-top: 50px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.btn {
  background-color: rgb(73, 155, 73);
  border-color: rgb(37, 104, 37);
}
.btn-primary:hover {
  background-color: rgb(37, 104, 37);
  border-color: rgb(73, 155, 73);
}
.cancelbtn {
  background-color: red;
  border-color: rgb(121, 14, 14);
}
.cancelbtn:hover {
  border-color: red;
  background-color: rgb(121, 14, 14);
}
